name: riverpod_cache
description: "Add offline persistence support for Riverpod"
version: 0.0.2
homepage: https://github.com/masreplay/riverpod_cache
issue_tracker: https://github.com/masreplay/riverpod_cache/issues
documentation: https://riverpod.dev/getting-started
funding: [https://github.com/sponsors/masreplay]
topics: [riverpod, cache, offline, persistence, shared_preferences]

environment:
  sdk: ">=3.4.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  riverpod: ^2.5.1
  riverpod_annotation: ^2.3.5
  shared_preferences: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  build_runner: ^2.4.11
  riverpod_generator: ^2.4.0

flutter:

scripts:
  g:
    $script: rps gen build
    $description: shortcut for gen build
  w:
    $script: rps gen watch
    $description: shortcut for gen watch

  get:
    $script: fvm flutter pub get
    $description: Get dependencies

  gen:
    watch:
      $script: fvm dart run build_runner watch --delete-conflicting-outputs
      $description: Generate files on save
    build:
      $script: fvm dart run build_runner build --delete-conflicting-outputs
      $description: Generate files

  publish:
    $script: fvm flutter pub publish
    $description: Publish package
  fix-format:
    $script: fvm dart fix --apply && fvm dart format -o write ./lib
    $description: Fix code warnings and format code
